<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="shortcut icon" href="images/ceemion_fav.png" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Fiyin Adebayo - Welcome to my world..."/>
  <meta itemprop="name" content="Fiyin Simeon Adebayo"/>
  <meta itemprop="description" content="Fiyin Adebayo - Welcome to my world..."/>
  <meta itemprop="image" content="https://d3cxmfxypq16mv.cloudfront.net/images/fpq_social_facebook.jpg"/>

  <title>CeeByte | Fiyin Adebayo</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/ceemion.css" />

  <script src="javascripts/vendor/modernizr.js"></script>
</head>

<body>
<div id="head-nav" class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="social-group-top button-group">
        <li>
          <a href="http://facebook.com/fiyin.simeon" data-tooltip aria-haspopup="true" class="has-tip" title="fiyin.simeon" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CeeMion" data-tooltip aria-haspopup="true" class="has-tip" title="@CeeMion" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ceemion" data-tooltip aria-haspopup="true" class="has-tip" title="ceemion" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://ng.linkedin.com/in/fiyinadebayo" data-tooltip aria-haspopup="true" class="has-tip" title="fiyinadebayo" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ceeaches" data-tooltip aria-haspopup="true" class="has-tip" title="@ceeaches" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <h1 id="head-text"><a href="/">CeeMion</a></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 text-center">
    <h3>CeeByte</h3>
    <p>Coming Soon...</p>
  </div>
</div>

<footer class="row">
  <hr/>
  <div class="large-12 columns">
    <p>&copy; 2016</p>
  </div>
</footer>


<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
