<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="shortcut icon" href="images/ceemion_fav.png" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Fiyin Adebayo - Welcome to my world..."/>
  <meta itemprop="name" content="Fiyin Simeon Adebayo"/>
  <meta itemprop="description" content="Fiyin Adebayo - Welcome to my world..."/>
  <meta itemprop="image" content="https://d3cxmfxypq16mv.cloudfront.net/images/fpq_social_facebook.jpg"/>

  <title>Home | Fiyin Adebayo</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/ceemion.css" />

  <script src="javascripts/vendor/modernizr.js"></script>
</head>

<body>
<div id="head-nav" class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="social-group-top button-group">
        <li>
          <a href="http://facebook.com/fiyin.simeon" data-tooltip aria-haspopup="true" class="has-tip" title="fiyin.simeon" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CeeMion" data-tooltip aria-haspopup="true" class="has-tip" title="@CeeMion" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ceemion" data-tooltip aria-haspopup="true" class="has-tip" title="ceemion" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://ng.linkedin.com/in/fiyinadebayo" data-tooltip aria-haspopup="true" class="has-tip" title="fiyinadebayo" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ceeaches" data-tooltip aria-haspopup="true" class="has-tip" title="@ceeaches" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <h1 id="head-text">CeeMion</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-8 small-centered columns head-image">
    <img src="images/CeeMION.jpg" class="head-img-inline">
  </div>
</div>

<div class="row">
  <hr>
  <div id="about" class="large-8 columns">
    <h4>Fiyinfoluwa Simeon Adebayo</h4>
    <p>
      I am a software developer and I am committed to touching lives through the combination of my innate skills and available resources around me. I provide solutions to complex technological issues from web applications to software development, including problem-solving.
    </p>

    <p>
      I have experience working with JavaScript, AngularJS and Ruby on Rails. I love designing, I think I have an eye for it! I'm very familiar with and have used CSS frameworks including Bootstrap and Foundation 5.
    </p>

    <p>
      My favourite quote is <em>"No man is an island. The day you stop learning is the day you die!"</em>
    </p>

    <p>
      I enjoy listening to music and I play the piano. Cars and gadgets are my tech passion and adventures.....well, that's the fun side of life!
    </p>
    <p><strong>Welcome to my world!</strong></p>
  </div>

  <div class="large-4 columns">
    <a class="twitter-timeline" href="https://twitter.com/CeeMion" data-widget-id="631560053984591872">Tweets by @CeeMion</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<div id="mini-content" class="row">
  <hr/>
  <div class="mini-mini large-4 columns">
    <a href="/blog" target="_blank">
      <img src="images/blog_link.jpg" alt="Visit My Blog" class="linx" />
          <span class="mini-text"><span>
            <h4>Blog</h4>
            <p>All about tech...</p>
          </span></span>
    </a>
  </div>
  <div class="mini-mini large-4 columns">
    <a href="http://portfolio.ceemion.com/" target="_blank">
      <img src="images/portfolio_link.jpg" alt="My Portfolio" class="linx" />
          <span class="mini-text"><span>
            <h4>Portfolio</h4>
            <p>A collection of my creation...</p>
          </span></span>
    </a>
  </div>
  <div class="mini-mini large-4 columns">
    <a href="http://the-future.ceemion.com/" target="_blank">
      <img src="images/the_future_link.jpg" alt="See the Future" class="linx" />
            <span class="mini-text"><span>
              <h4>The Future...</h4>
              <p>We all want to know what is to come...</p>
            </span></span>
    </a>
  </div>
</div>

<!-- <div id="my-work" class="row">
  <hr/>
  <div class="large-12 columns">
    <h4>My Work</h4>
    <p>Click each to view snapshots...</p>

    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
      <li>
        <a href="images/work_google_clone.png">
          <img data-caption="A clone of Google search page." src="images/work_google_clone.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_forecast_home.png">
          <img data-caption="Forecast and attain financial freedom!" src="images/work_forecast_home.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_shopaholic_2.png">
          <img data-caption="For the fashion lover.... shop anywhere!" src="images/work_shopaholic_2.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_calculator.png">
          <img data-caption="Addition calculator" src="images/work_calculator.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_forecast_login.png">
          <img data-caption="Forecast - when you're logged in" src="images/work_forecast_login.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_github_repos.png">
          <img data-caption="Search for Github repositories.... in one place!" src="images/work_github_repos.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_hotcold.png">
          <img data-caption="Are you Hot.... or Cold?" src="images/work_hotcold.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_jobseeker.png">
          <img data-caption="Everyone needs a job." src="images/work_jobseeker.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_matchme.png">
          <img data-caption="You have a twin out there.... a clone?" src="images/work_matchme.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_github_users.png">
          <img data-caption="Search for Github users." src="images/work_github_users.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_ridehive.png">
          <img data-caption="For car lovers.... like me!" src="images/work_ridehive.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_shopaholic.png">
          <img data-caption="You might become a shopaholic soon!" src="images/work_shopaholic.png" class="wimg">
        </a>
      </li>
      <li>
        <a href="images/work_shopping_cart.png">
          <img data-caption="Never miss out on what you need to buy...." src="images/work_shopping_cart.png" class="wimg">
        </a>
      </li>
    </ul>
  </div>
</div> -->

<div id="contact" class="row">
  <div class="large-12 columns">
    <hr/>
    <h4>Contact</h4>
    <a href="mailto:fiyinfoluwa.adebayo@andela.com?bcc=fiyinsimeon@gmail.com&subject=Mail%20From%20CeeMion.com">Send me a mail...</a>
  </div>
</div>

<footer class="row">
  <hr/>
  <div class="large-12 columns">
    <p>&copy; 2016</p>
  </div>
</footer>


<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
